body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
.topbar {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #F2572D;
}
header {
  border-bottom: 1px solid #eee;
}
header .head-warp {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
header .head-warp .logo {
  position: relative;
  height: 100%;
  float: left;
  max-width: 160px;
  vertical-align: middle;
  display: table;
}
header .head-warp .logo a {
  width: 160px;
  vertical-align: middle;
  display: table-cell;
}
header .head-warp .logo a img {
  display: inline;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
header .head-warp .logo p {
  position: absolute;
  left: 160px;
  top: 20px;
  width: 60px;
  font-size: 16px;
  margin-bottom: 0px;
  z-index: -1;
}
header .head-warp .navbar {
  display: none;
}
header .head-warp .mobile-menu {
  display: none;
}
@media only screen and (min-width: 959px) {
  header .head-warp .navbar {
    display: block;
    float: right;
  }
  header .head-warp .navbar ul {
    list-style-type: none;
    margin-bottom: 0px;
  }
  header .head-warp .navbar ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .head-warp .navbar ul li a {
    display: inline-block;
    line-height: 43px;
    letter-spacing: 1.5px;
  }
  header .head-warp .navbar ul li a i {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 958px) {
  header .head-warp .mobile-menu {
    display: block;
    float: right;
  }
  header .head-warp .mobile-menu a {
    display: block;
    border: 1px solid #eee;
    background: #f7f7f7;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .head-warp .mobile-menu a:hover {
    color: #666;
  }
}
