body{

  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

}

a{
  color: #333;
  text-decoration: none;
}

.topbar{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #F2572D;
}

header {

  border-bottom: 1px solid #eee;

  .head-warp{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    .logo{
      position: relative;
      height: 100%;
      float: left;
      max-width: 160px;
      vertical-align:middle;
      display: table;
      a{
        width: 160px;
        vertical-align:middle;
        display: table-cell;
        img{
          display: inline;
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
        }
      }

      p{
        position: absolute;
        left: 160px;
        top: 20px;
        width: 60px;
        font-size: 16px;
        margin-bottom: 0px;
        z-index: -1;

      }

    }

    .navbar{

      display: none;

    }

    .mobile-menu{

      display: none;

    }


  }
}



@media only screen and (min-width: 959px){


  header {

    .head-warp{

      .navbar{

        display: block;

        float: right;

        ul{
          list-style-type: none;
          margin-bottom: 0px;

          li{
            display: inline;
            padding-left: 10px;
            padding-right: 10px;
            a{
              display: inline-block;
              line-height: 43px;
              letter-spacing: 1.5px;

              i{
                margin-left: 5px;
              }

            }

          }

        }

      }
    }

  }
  
}

@media only screen and (max-width: 958px) {

  header {

    .head-warp {

      .mobile-menu{

        display: block;

        float: right;

        a{

          display: block;

          border: 1px solid #eee;

          background: #f7f7f7;

          height: 40px;

          line-height: 40px;

          padding-left: 15px;

          padding-right: 15px;

        }

        a:hover{

          color: #666;


        }


      }

    }

  }
}


