body{

  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

}

a{
  color: #333;
  text-decoration: none;
}

.topbar{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #F2572D;
}

header {


  .head-warp{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    .logo{
      height: 100%;
      float: left;
      max-width: 180px;
      vertical-align:middle;
      display: table;

      a{
        width: 180px;
        vertical-align:middle;
        display: table-cell;
        img{
          display: inline;
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
        }
      }

    }

    .navbar{
      position: absolute;
      right: -12px;
      top: 50px;
      height: 50px;
      ul{
        list-style-type: none;
        margin-bottom: 0px;

        li{
          display: inline;

        }

      }

    }

  }


}

